<!DOCTYPE html>
<html>
<head>
  <title>ChurnHub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="left">
      <% if request.path != '/' %>
        <%= link_to "Home", '/' %>
      <% end %>
    </div>
    <div id="right">
      <% if session[:access_token] %>
        <span id="user">
          Hello, <%= @user["name"] %> (<%= link_to @user["login"], @user["url"] %>)
        </span>
        <span id="logout"> <%= link_to "logout", "/signout" %> </span>
      <% else %>
        <%= link_to "log in via github", "/signin" %>
      <% end %>
    </div>
  </header>
  <section id="content">
    <%= yield %>
  </section>
  <%= javascript_include_tag "application" %>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
